apiVersion: apps/v1
kind: Deployment
metadata:
  name: webserver
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: webserver:latest
          imagePullPolicy: Never
          env:
            - name: WEB_REPO_URL
              value: "https://github.com/FaustoOliveira/minikube-webpage.git"
          ports:
            - containerPort: 80
